*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  width: 400px;
  background-color: aqua;
  position: relative;
  
}
p{
  line-height: 30px;
  padding: 10px 10px 0px 10px; 
}
.element{
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
}
#check, .checkout{
  display: none;
}
.checkin, .checkout{
  cursor: pointer;
  position: absolute;
  right: 0px;
}
.checkin{
  display: block;
}
:checked ~ .checkout {
  display: block;
}
:checked ~ .checkin {
  display: none;
}
:checked ~ .element{
  max-height: 666px;
}
.checkin:hover, .checkout:hover{color: red;}
